<div align="left" style="float:left;">
	<%= image_tag("bloque-icon.png", :border=>0, :height => "30px",:width => "30px")%> <%= bloquecomida.nombre %>
</div>	
<div align="right" class="options">
	<% if bloquecomida.orden > 1 %>	
		<%= link_to_remote image_tag("swap-icon.png", :border=>0, :height => "20px",:width => "20px"),:url => {:action => "swap_bloquecomida",:bloquecomida => bloquecomida.id},:update => "general",:html =>{:class => "image_link"} %>
	<% end %>	
	<%= link_to_remote image_tag("add-plato-icon.png", :border=>0, :height => "20px",:width => "20px"),:url => {:action => "nuevoplato_bloquecomida",:bloquecomida => bloquecomida.id},:update => "general",:html =>{:class => "image_link"} %>
	<%= link_to_remote image_tag("edit-icon.png", :border=>0, :height => "20px",:width => "20px"),:url => {:action => "editar_bloque",:bloquecomida => bloquecomida.id},:update => "bloquecomida_"+bloquecomida.id.to_s,:html =>{:class => "image_link"} %>
	<%= link_to_remote image_tag("del-bloque-icon.png", :border=>0, :height => "20px",:width => "20px"),:url => {:action => "borrar_bloquecomida",:bloquecomida => bloquecomida.id},:confirm => "Esta seguro?",:update => "general",:html =>{:class => "image_link"} %>
</div>