<h1>New bloquecomida</h1>

<% form_for(@bloquecomida) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
    <%= f.hidden_field :orden %>
    <%= f.hidden_field :usuario %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', bloquecomidas_path %>
